{% extends 'base_instructor.html' %} {% block title %}create assessment{%
endblock %} {% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/style-join-classroom.css') }}" />

<div class="main-container">
  <h1>Create an assessment</h1>
  <form action="/assessment/create/{{ classroom_id }}" method="post">
    <input type="text" name="title" required placeholder="Title" />
    <!-- <input
      type="number"
      name="total_marks"
      required
      placeholder="Total marks"
      min="0"
    /> -->
    <input type="number" name="time_limit" placeholder="Time limit (mins)" min="1" />

    <textarea name="description" rows="2" placeholder="Description (optional)"></textarea>
    <input type="date" name="due_date">

    <select name="is_automatic" id="">
      <option value="" disabled selected hidden>Grading type</option>
      <option value="1">Automatic Grading</option>
      <option value="0">Manual Grading</option>
    </select>

    <div class="form-actions">
      <button type="button" class="cancel-btn" onclick="window.history.back()">
        Cancel
      </button>
      <button type="submit" class="submit-btn">Create</button>
    </div>
  </form>
</div>

{% endblock %}