{% extends 'base_instructor.html' %} {% block title %}create assessment{%
endblock %} {% block content %}

<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/style-join-classroom.css') }}"
/>

<!-- <div class="container py-4">
  <div class="card mx-auto" style="max-width: 720px">
    <div class="card-body">
      <h4 class="card-title mb-3">Create Assessment</h4>
      <form
        action="/assessment/create/{{ classroom_id }}"
        method="post"
        class="row g-3"
      >
        <div class="col-12">
          <label class="form-label">Title</label>
          <input type="text" name="title" class="form-control" required />
        </div>

        <div class="col-md-6">
          <label class="form-label">Total Marks</label>
          <input
            type="number"
            name="total_marks"
            class="form-control"
            required
          />
        </div>

        <div class="col-md-6">
          <label class="form-label">Time limit (minutes)</label>
          <input type="number" name="time_limit" class="form-control" />
        </div>

        <div class="col-12">
          <label class="form-label">Description</label>
          <textarea name="description" class="form-control" rows="2"></textarea>
        </div>

        <div class="col-12">
          <label class="form-label">Type</label>
          <select name="type" class="form-select" required>
            <option value="quiz">Quiz</option>
            <option value="exam">Exam</option>
          </select>
        </div>

        <div class="col-12 text-end">
          <button
            type="button"
            class="btn btn-outline-secondary me-2"
            onclick="window.history.back()"
          >
            Cancel
          </button>
          <button type="submit" class="btn btn-primary">Create</button>
        </div>
      </form>
    </div>
  </div>
</div> -->

<!-- =============== -->

<div class="main-container">
  <h1>Create an assessment</h1>
  <form action="/assessment/create/{{ classroom_id }}" method="post">
    <input type="text" name="title" required placeholder="Title" />
    <!-- <input
      type="number"
      name="total_marks"
      required
      placeholder="Total marks"
      min="0"
    /> -->
    <input
      type="number"
      name="time_limit"
      placeholder="Time limit (mins)"
      min="1"
    />

    <textarea
      name="description"
      rows="2"
      placeholder="Description (optional)"
    ></textarea>
    <input type="date" name="due_date">

    <select name="is_automatic" id="">
      <option value="1">Automatic Grading</option>
      <option value="0">Manual Grading</option>
    </select>

    <div class="form-actions">
      <button type="button" class="cancel-btn" onclick="window.history.back()">
        Cancel
      </button>
      <button type="submit" class="submit-btn">Create</button>
    </div>
  </form>
</div>

{% endblock %}
