{% extends "base.html" %} {% block title %}Register{% endblock %} {% block
content %}
<h1>This is student register page</h1>
<form action="/register" method="post">
  <label for="">First Name: </label>
  <input type="text" name="fname" id="" required />
  <label for="">Middle Name: </label>
  <input type="text" name="mname" id="" required />
  <label for="">Last Name: </label>
  <input type="text" name="lname" id="" required />
  <label for="">Email: </label>
  <input type="text" name="email" id="" required />
  <label for="">Password: </label>
  <input type="text" name="password" id="" required />
  <input type="submit" value="register" />
</form>
{% endblock %}
