{% extends "base.html" %} 
{% block title %}student view classroom{% endblock %} 
{% block content %} 
{% include "student_header.html" %}

<a href="/student/dashboard">back to list</a>
<h1>{{classroom['title'].title()}}</h1>
<h3>
  Created by: {{classroom['f_name'].title()}}
  {{classroom['m_name'][0].title()}} {{classroom['l_name'].title()}}
</h3>
<p>Description: {{classroom['description']}}</p>

{% for student in students %} 
<b>{{student['f_name'].title()}} {{student['m_name'][0].title()}} {{student['l_name'].title()}}</b>
<p>{{ student['email'] }}</p>
{% endfor %}
<h4>Assessments</h4>
{% for assessment in assessments %}
  <h6>{{assessment['title']}}</h6>
  <h6>{{assessment['total_marks']}} points</h6>
{% endfor %}
{% endblock %}
