{% extends "base.html" %} {% block title %}Home Page{% endblock %} {% block
content %} {% include "student_header.html" %} {% with
messages=get_flashed_messages() %}{% if messages %}{% for message in messages
%}{{message}}{% endfor %}{% endif %}{% endwith %}

<a href="/student/join">Join Class</a>
<h1>Classes</h1>
{% for classroom in classrooms %}
<h2>{{classroom['title']}}</h2>
<h3>
  {{classroom['f_name'].title()}} {{classroom['m_name'][0].title()}}
  {{classroom['l_name'].title()}}
</h3>
<h4>{{classroom['description']}}</h4>
<a href="/classroom/view/{{classroom['classroom_id']}}">view </a>
{% endfor %} {% endblock %}
