{% extends "base.html" %}
{% block title %}Home Page{% endblock %}

{% block content %}

<h1 id="greeting"></h1>

{% for classroom in classrooms %}
  <h2>{{ classroom['title'] }}</h2>
  <h3>
    {{ session['user']['f_name'].title() }}
    {{ session['user']['l_name'].title() }}
  </h3>
  <h4>{{ classroom['description'] }}</h4>
  <a href="/classroom/view/{{ classroom['classroom_id'] }}">view</a>
{% endfor %}

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const hour = new Date().getHours();
    let greeting;

    if (hour >= 3 && hour < 12) {
      greeting = "Good morning";
    } else if (hour < 17) {
      greeting = "Good afternoon, ";
    } else {
      greeting = "Good evening, ";
    }

    document.getElementById("greeting").textContent =
      greeting + "Name";
  });
</script>

{% endblock %}
