{% extends "base.html" %}{% block title %}add classroom{% endblock %} {% block
content %} {% include "instructor_header.html" %}
<h1>This is edit classroom page</h1>
<form action="/classroom/edit/{{classroom['id']}}" method="post">
  <label for="">title: </label>
  <input type="text" name="title" id="" required value={{classroom['title']}}>
  <label for="">description: </label>
  <input type="text" name="description" id=""
  value={{classroom['description']}}>
  <input type="submit" value="update" />
</form>

{% endblock %}
