{% extends "base.html" %} 
{% block title %}view classroom{% endblock %} 
{% block content %} 
{% include "instructor_header.html" %}

<a href="/instructor/">back to list</a>
<h1>{{classroom['title'].title()}}</h1>
<h3>
  Created by: {{classroom['first_name'].title()}}
  {{classroom['middle_name'][0].title()}} {{classroom['last_name'].title()}}
</h3>
<p>Description: {{classroom['description']}}</p>


{% for student in students %} 
<b>{{student['first_name'].title()}} {{student['middle_name'][0].title()}} {{student['last_name'].title()}}</b>
<p>{{ student['email'] }}</p>

{% endfor %}
<a href="/assessment/create/{{classroom['id']}}">Create assessment</a>
{% for assessment in assessments %}
<a href="/assessment/view/{{assessment['id']}}">
<div>
  <h3>{{assessment['title']}}</h3>
  <h6>{{assessment['total_marks']}} points</h6>
</div>
</a>
{% endfor %}
{% endblock %}
