{% extends "base_instructor.html" %} {% block title %}Classes{% endblock %} {%
block content %}

<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/style-show-classes-instructor.css') }}"
/>

<div class="content-wrapper">
  <div class="class-list">
    {% for classroom in classrooms %}
    <div class="main-div-ig">
      <a href="/classroom/{{ classroom['id'] }}" class="stretched-link"></a>

      <img
        class="class-theme"
        src="{{ url_for('static', filename='images/class-theme/sketch.jpg') }}"
      />

      <div class="hor-class-info-action">
        <div class="class-info">
          <div class="card-class-title">{{ classroom['description'] }}</div>
          <div class="div-a2">{{ classroom['title'] }}</div>
          <div class="div-a3">
            {{classroom['f_name'].title()}} {{classroom['l_name'].title()}}
          </div>
        </div>

        <div class="dropdown">
          <div
            class="more-icon-btn"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            style="position: relative; z-index: 10"
          >
            <img
              src="{{ url_for('static', filename='images/more-icon.svg') }}"
              alt="more"
              style="filter: brightness(0); cursor: pointer; width: 25px"
            />
          </div>

          <ul
            class="dropdown-menu dropdown-menu-end shadow-sm"
            style="border-radius: 12px; border: none"
          >
            <li>
              <a
                class="dropdown-item d-flex align-items-center gap-2"
                href="/classroom/edit/{{ classroom['id'] }}"
              >
                <img
                  src="{{ url_for('static', filename='images/edit-icon.svg') }}"
                  width="16"
                />
                Edit
              </a>
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a
                class="dropdown-item d-flex align-items-center gap-2 text-danger"
                href="#"
                onclick="if(confirm('Delete this classroom?')) location.href='/classroom/delete/{{ classroom.id }}'"
              >
                <img
                  src="{{ url_for('static', filename='images/trash-icon.svg') }}"
                  width="16"
                />
                Delete
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
